@font-face {
    font-family: 'Avenir Light';
    src: url('Avenir Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-avenir: 'Avenir Light', sans-serif;
    --color-light-beige: #ffcc66;
    --color-dark-gray: #4d4d4d;
    --color-green: #4CAF50;
    --color-green-dark: #45a049;
    --color-light-gray: #ccc;
    --color-white: white;
    --color-border: #ddd;
    --box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

body {
    font-family: var(--font-avenir);
    margin: 20px;
    background-color: var(--color-light-beige);
}

h1, h2, .form-row label, .floating-label label {
    color: var(--color-dark-gray);
    font-weight: normal;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    padding: 20px 0;
}

h2, p {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0;
}

form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background: #FFDD95;
}

input, select, button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border: 1px solid var(--color-border);
    background: var(--color-light-beige);
    font-family: var(--font-avenir);
    -webkit-appearance: none;
}

.input-group, .form-row, .date-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group .small-input-row {
    flex: 1;
    margin-right: 10px;
}

.input-group .small-input-row:last-child {
    margin-right: 0;
}

.form-row.small-input-row label {
    flex-grow: 1;
    margin-right: 10px;
    white-space: nowrap;
}

.date-field input {
    flex: 1;
    text-align: center;
}

.floating-label, .floating-label input {
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 12px;
}

.floating-label label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 10px;
    transition: 0.2s ease all;
    color: var(--color-border);
    padding: 0;
}

.floating-label input:focus ~ label,
.floating-label input:not(:placeholder-shown) ~ label {
    top: 1px;
    font-size: 8px;
}

input[type="submit"], #suggestPriceBtn {
    background-color: var(--color-green);
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

input[type="submit"]:hover, input[type="submit"]:active,
#suggestPriceBtn:hover, #suggestPriceBtn:active {
    background-color: var(--color-green-dark);
    transform: translateY(-2px);
}

input:focus, select:focus {
    outline: none;
    border-color: var(--color-green);
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

#submissionMessage {
    display: none;
    margin-top: 30px;
    text-align: center;
    color: var(--color-green);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 18px; /* Width of the switch */
  height: 4px; /* Height of the switch */
  margin: 5px 0; /* Provide some margin around the switch */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px; /* Fully rounded corners for the slider */
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px; /* Height of the circle inside the slider */
  width: 20px; /* Width of the circle inside the slider */
  left: 0px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%; /* Circular shape for the slider */
}

input:checked + .slider {
  background-color: #4CAF50; /* Color when the switch is active/checked */
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50; /* Optional: add a box-shadow when the switch is focused */
}

input:checked + .slider:before {
  transform: translateX(18px); /* Slide the circle to the right on check */
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
