body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1, h2 {
    text-align: center;
}
form {
    max-width: 400px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
input[type="date"] {
    width: calc(100% - 18px); /* Adjust for date input arrow */
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
#submissionMessage {
    display: none;
    margin-top: 10px;
    text-align: center;
    color: #4CAF50;
}
